@import 'variables';

a {
    &:active,
    &:visited,
    &:focus {
        outline: none;
    }
}

.logo {
    padding-top: 3px;
    max-width: @navLogoWidth;
}

.loading {
    height: 100vh;
}

.padded {
    padding: 10px;
}

.headingText {
    color: @green;
}

.appBar {
    border-bottom: 2px solid @green;
    .navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            a {
                font-size: 1.2em;
                font-weight: 700;
                color: @green;
                text-decoration: none;
                transition: color .5s ease-in-out;
                &.active,
                &:hover {
                    color: @lightGray;
                }
                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }
}

.formDivider {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainContainer {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        color: @darkGray;
    }
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.signupButtons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.test {
    border: 1px solid red;
}